{% extends "main.html" %}
{% block title %}Page Title{% endblock %}
{% block content %}

<div class="container-fluid py-4">
        <h1 class="gallery-title">Books</h1>
        <div class="row g-4">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.10 PM (1).jpeg" alt="Image 1" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.10 PM (2).jpeg" alt="Image 2" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.10 PM.jpeg" alt="Image 3" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.11 PM (1).jpeg" alt="Image 4" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.11 PM (2).jpeg" alt="Image 5" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.11 PM (3).jpeg" alt="Image 6" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.11 PM (4).jpeg" alt="Image 7" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.11 PM (5).jpeg" alt="Image 8" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.11 PM (6).jpeg" alt="Image 9" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.11 PM (7).jpeg" alt="Image 10" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.11 PM.jpeg" alt="Image 11" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.12 PM (1).jpeg" alt="Image 12" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.12 PM (2).jpeg" alt="Image 13" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.12 PM (3).jpeg" alt="Image 14" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.12 PM (4).jpeg" alt="Image 15" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.12 PM (5).jpeg" alt="Image 16" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.12 PM.jpeg" alt="Image 17" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.13 PM (1).jpeg" alt="Image 18" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.13 PM (2).jpeg" alt="Image 19" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.13 PM.jpeg" alt="Image 20" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.14 PM (1).jpeg" alt="Image 21" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.14 PM (2).jpeg" alt="Image 22" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.14 PM (3).jpeg" alt="Image 23" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.14 PM.jpeg" alt="Image 24" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.15 PM (1).jpeg" alt="Image 25" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.15 PM (2).jpeg" alt="Image 26" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.15 PM (3).jpeg" alt="Image 27" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.15 PM.jpeg" alt="Image 28" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.16 PM (10).jpeg" alt="Image 29" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.16 PM (11).jpeg" alt="Image 30" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.16 PM (1).jpeg" alt="Image 31" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.16 PM (2).jpeg" alt="Image 32" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.16 PM (3).jpeg" alt="Image 33" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.16 PM (4).jpeg" alt="Image 34" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.16 PM (5).jpeg" alt="Image 35" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.16 PM (6).jpeg" alt="Image 36" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.16 PM (7).jpeg" alt="Image 37" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.16 PM (8).jpeg" alt="Image 38" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.16 PM (9).jpeg" alt="Image 39" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.16 PM.jpeg" alt="Image 40" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.17 PM (10).jpeg" alt="Image 41" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.17 PM (11).jpeg" alt="Image 42" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.17 PM (12).jpeg" alt="Image 43" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.17 PM (13).jpeg" alt="Image 44" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.17 PM (14).jpeg" alt="Image 45" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.17 PM (1).jpeg" alt="Image 46" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.17 PM (2).jpeg" alt="Image 47" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.17 PM (3).jpeg" alt="Image 48" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.17 PM (4).jpeg" alt="Image 49" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.17 PM (5).jpeg" alt="Image 50" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.17 PM (6).jpeg" alt="Image 51" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.17 PM (7).jpeg" alt="Image 52" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.17 PM (8).jpeg" alt="Image 53" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.17 PM (9).jpeg" alt="Image 54" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.17 PM.jpeg" alt="Image 55" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.18 PM (1).jpeg" alt="Image 56" class="img-fluid gallery-img">
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <img src="../static/images/research/WhatsApp Image 2025-01-23 at 10.59.18 PM.jpeg" alt="Image 57" class="img-fluid gallery-img">
            </div>
        </div>
    </div>
{% endblock %}