{% extends "main.html" %}
{% block title %}Page Title{% endblock %}
{% block content %}

<div>
<strong>POST GRAD</strong>
<p>

  <div style="background-color: black; color: red; border: 10px solid black">
    <a href="https://drive.google.com/file/d/1WJKWwYwT--mZs78x9849SaJfx3fxjfos/view?usp=sharing">
    <img src="../static/images/education/bcu.jpg" alt="Smiley face image"
      style="float:left; width:100px; height:100px;">
  </a>
    <span style="vertical-align: bottom;">
      <strong style="color:red;">Masters’s Degree</strong><br>
      Artificial intelligence<br>
      <strong style="color:red;">Grade: Merit</strong><br>
       <strong style="color: red;">Birmingham, United Kingdom</strong>
    </span>
  </div>
</p>

<hr size="30">


<strong>UNDER GRAD</strong>

<p>

  <div style="background-color: black; color: red; border: 10px solid black">
    <a href="https://drive.google.com/file/d/1BSUr6zfqHqhSYrNUhxFjbeO4B5ON3m9W/view?usp=sharing">
    <img src="../static/images/education/uni.png" alt="Smiley face image"
      style="float:left; width:100px; height:100px;">
  </a>
    <span style="vertical-align: bottom;">
      <strong style="color:red;">Bachelor’s Degree</strong><br>
      Math and Computer Science<br>
      <strong style="color:red ;">GPA: 8.0</strong><br>
       <strong style="color: red;">India</strong>
    </span>
  </div>
</p>
</div>
<div>
  <hr>
<h3>Certifications</h3>
<br>
<h5> AI Explainability 360 for AI and ML</h5>
<hr>
<h5> IBM training</h5>
<p>
    <a href="https://drive.google.com/file/d/1eslnTTtpN5r9uZsm_jnSdh09AlY_FaRa/view?usp=sharing">
    <img src="../static/images/education/ibm.jpg" alt="Smiley face image" style="float:left; width:65px; height:65px;">
     </a>
  <span style="vertical-align:bottom">
    &nbsp;<strong>IBM</strong><br>
    &nbsp;Online Certifications
  </span>
</p>
</div>
<br>
<hr>


<br>
<h5> ELAN HACKATHON</h5>
<hr>
<h5> WINNER</h5>
<p>
    <a href="https://drive.google.com/file/d/1PswBBZPzSAGpljZsDXQgNlsFtKfXSC-k/view?usp=sharing">
    <img src="../static/images/education/ofs.jpeg" alt="Smiley face image" style="float:left; width:65px; height:65px;">
     </a>
  <span style="vertical-align:bottom">
    &nbsp;<strong>office for student</strong><br>
    &nbsp;Winner ELAN HACKTHON
  </span>
</p>
</div>




<br>
<br>
<h5> MTTS Programme</h5>

<h5> Level 1</h5>
<p>
    <a href="https://drive.google.com/file/d/14AeXM9J5milMt_6qDR-HYSEVC6mb_oHc/view?usp=sharing">
    <img src="../static/images/education/madr.png" alt="Smiley face image" style="float:left; width:65px; height:65px;">
     </a>
  <span style="vertical-align:bottom">
    &nbsp;<strong>Indian Institute of Technology, Madras</strong><br>
    &nbsp;MTTS programme
  </span>
</p>


<br>

<br>

<h5> Geeks for geeks </h5>
<hr>
<h5> Data Science</h5>
<p>
    <a href="https://drive.google.com/file/d/1JSBV5MXczcUSnChPWG-dBzfdYYOk--Qv/view?usp=drive_link">
    <img src="../static/images/education/gfg.jpg" alt="Smiley face image" style="float:left; width:65px; height:65px;">
     </a>
  <span style="vertical-align:bottom">
    &nbsp;<strong>GEEKS FOR GEEKS</strong><br>
    &nbsp; Data Science
  </span>
</p>


<br>

<br>


{% endblock %}