{% extends "main.html" %}
{% block title %}Page Title{% endblock %}
{% block content %}


<h1>Work Experience</h1>

<p>
<img src="../static/images/work/figg.jpeg" alt="Smiley face image"
style="float:left; width:140px; height:140px;">
<span style="vertical-align:bottom">
&nbsp <strong> Research project</strong> <br>
&nbsp  Machine learning Research <br>
&nbsp  Birmingham <br>
&nbsp 2023 
</span>
</p>
<p>
* Developed and deployed a machine learning driven dashboard to cluster FTSE 100 companies based on
risk profiles<br>
* Managed stakeholder relationships ensuring alignment with goals and responsibilities.<br>
* Engineered a data pipeline to ingest and preprocess financial data, integrating key metrics and enhancing
risk assessment accuracy with Yahoo Finance API <br>
* Designed an intuitive and interactive dashboard interface with advanced visualizations, enabling stake-
holders to explore and compare risk profiles dynamically, facilitating data-driven investment strategies
and risk-management decisions.<br>
</p>

<br>

<p>
<img src="../static/images/work/blockchain.png" alt="Smiley face image"
style="float:left; width:140px; height:140px;">
<span style="vertical-align:bottom">
&nbsp <strong> Data Engineering</strong> <br>
&nbsp  Software Engineering Intern <br>
&nbsp  Birmingham <br>
&nbsp 2024
</span>
</p>
<p>

* Automated scripts for document generation using Docx module (python)<br>
* Decomposition of business requirements into technical tasks<br>
* Created reports for 100+ investment firms<br>
* Reduced Data-cleaning time by 50 % through automation and other scripting techniques<br>
* Production deploys<br>
</p>
<br>
<hr size="30">


<br>

<p>
<img src="../static/images/work/uni.png" alt="Smiley face image"
style="float:left; width:140px; height:140px;">
<span style="vertical-align:bottom">
&nbsp <strong> Supervised learning/ physics informed Machine Learning</strong> <br>
&nbsp  Machine learning Research <br>
&nbsp  India <br>
&nbsp 2022
</span>
</p>
<p>

*  Developed a physics-informed machine learning model for simulating population dynamics.<br>
* Fine-tuning of parameters using nonlinear optimization techniques.<br>
* Model development, boundedness of the solution, stability of the solution, sensitivity analysis withstate-of-the-art modeling techniques.<br>
* MCDM models for ranking regions based on carbon footprint.<br>
</p>
<br>
<hr size="30">


<h2> Society Work </h2>

<p>
<img src="../static/images/education/ims.jpeg" alt="Smiley face image"
style="float:left; width:px; height:140px;">
<span style="vertical-align:bottom">
&nbsp <strong> Indian Mathematical Society</strong> <br>
&nbsp India <br>
&nbsp 2022
</span>
</p>
<br>
<p>
* **Lecturer**. Supervised Learning- loss functions<br>
* **Coordination**. Supporting in the organization (Scheduling, website, events, volunteering).<br>
</p>

<hr size="30">


<p>
<img src="../static/images/education/sds.png" alt="Smiley face image"
style="float:left; width:px; height:140px;">
<span style="vertical-align:bottom">
&nbsp <strong> Society for Data Science</strong> <br>
&nbsp India <br>
&nbsp 2022
</span>
</p>


<br>


{% endblock %}