{% extends "main.html" %}
{% block title %}Page Title{% endblock %}
{% block content %}
<h1>Python Packages</h1>
    
<h2><a href="https://github.com/Mukullight/nullvalue">Null Val</a></h2>

<div class="project-preview">
    <a href="https://github.com/mukullight" target="_blank">
        <img src="../../images/projects/nullval.png" alt="NULLVAL">
    </a>
    <div class="project-info">
        <h2>NULLVAL</h2>
        <p>A Library for data cleaning</p>
        <p>
            * This repository contains different kinds of methods for the treatment of null values and outliers.
            <br>
            * Using various kinds of numerical techniques for the ideal replacement of values in your dataframe.
        </p>
    </div>
</div>

<blockquote class="twitter-tweet" data-media-max-width="560">
    <p lang="zxx" dir="ltr">
        <a href="https://t.co/4WbiTEjiMU">pic.twitter.com/4WbiTEjiMU</a>
    </p>
    &mdash; Mukul Namagiri (@MNamagiri66052) 
    <a href="https://twitter.com/MNamagiri66052/status/1882516189378994420?ref_src=twsrc%5Etfw">January 23, 2025</a>
</blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>The project source code is available on the official repository: <a href="https://github.com/Mukullight/nullvalue">GitHub</a>.</p>

<h3>I contribute as developer/maintainer of the following Python packages:</h3>


<button class="btn btn-danger mb-3" onclick="window.open('https://mukullight.pythonanywhere.com/', '_blank')">Link for the below blog -></button>
    

    
<iframe src="https://mukullight.pythonanywhere.com/" frameborder="0" allowfullscreen class="w-100" style="height: 60vh;"></iframe>
{% endblock %}