{% extends "main.html" %}
{% block title %}Page Title{% endblock %}
{% block content %}
<h3><a href="https://github.com/Mukullight/orange/">Orange</a></h3>

<div class="project-preview">
  <a href="https://github.com/mukullight" target="_blank">
    <img src="../static/images/projects/orange.png" alt="Orange Project Preview" style="float: left; width: 400px; height: 300px; padding: 10px;">
  </a>
  <div class="project-info">
    <h2>Orange 🍊</h2>
    <p>🧪 An AI-based Social Network</p>
    <p>
      In this service, users can engage in conversations, share interesting facts, and fact-check, 
      leveraging Mistral AI's powerful capabilities to enhance interaction and accuracy.
    </p>
  </div>
</div>


<p>The project source code is available on the official repository: <a href="https://github.com/Mukullight/orange">GitHub</a>.</p>

<div style="transform: scale(1.5); transform-origin: top left; width: 150%;">
    <blockquote class="twitter-tweet" data-media-max-width="100">
      <p lang="zxx" dir="ltr">
        <a href="https://t.co/J8lJNTBApd">pic.twitter.com/J8lJNTBApd</a>
      </p>
      — Mukul Namagiri (@MNamagiri66052) 
      <a href="https://twitter.com/MNamagiri66052/status/1875149118647193815?ref_src=twsrc%5Etfw">January 3, 2025</a>
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <br>
  <br>
  
  <hr style="border: none; height: 5px; background-color: red; width: 100%;">




<h3><a href="https://github.com/Mukullight/nullvalue">Null Val</a></h3>

<div class="project-preview">
  <a href="https://github.com/mukullight" target="_blank">
    <img src="../static/images/projects/nullval.png" alt="NULLVAL" style="float: left; width: 400px; height: 300px; padding: 30px;">
  </a>
  <div class="project-info">
    <h2>NULLVAL</h2>
    <p>A Library for data cleaning</p>
    <p>
      * This repository contains different kinds of methods for the treatment of null values and outliers<br>
      * Using various kinds of numerical techniques for the ideal replacement of values in your dataframe
    </p>
  </div>
</div>


<p>The project source code is available on the official repository: <a href="https://github.com/Mukullight/nullvalue">GitHub</a>.</p>

<blockquote class="twitter-tweet" data-media-max-width="560"><p lang="zxx" dir="ltr"><a href="https://t.co/4WbiTEjiMU">pic.twitter.com/4WbiTEjiMU</a></p>&mdash; Mukul Namagiri (@MNamagiri66052) <a href="https://twitter.com/MNamagiri66052/status/1882516189378994420?ref_src=twsrc%5Etfw">January 23, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<hr style="border: none; height: 5px; background-color: red; width: 100%;">

<h3><a href="https://github.com/Mukullight/nullvalue">RAG ENGINE</a></h3>

<div class="project-preview">
  <a href="https://github.com/mukullight" target="_blank">
    <img src="../static/images/projects/RAG.png" alt="rag" style="float: left; width: 400px; height: 300px; padding: 10px;">
  </a>
  <div class="project-info">
    <h2>RAG ENGINE</h2>
    <p>Rag engine with a locally run llm</p>
    <p>
      * This project helps the user to access the knowledge base to get topic specific responses<br>
      * Locally run llm is used to read and process the document and assign the importance of the doc and generate a more appropriate response<br>
    </p>
  </div>
</div>

<blockquote class="twitter-tweet" data-media-max-width="560"><p lang="zxx" dir="ltr"><a href="https://t.co/EKMilF69eX">pic.twitter.com/EKMilF69eX</a></p>&mdash; Mukul Namagiri (@MNamagiri66052) <a href="https://twitter.com/MNamagiri66052/status/1875149582902170065?ref_src=twsrc%5Etfw">January 3, 2025</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<hr style="border: none; height: 5px; background-color: red; width: 100%;">

<h2>Character AI</h2>
<div class="project-preview">
    <a href="https://github.com/mukullight" target="_blank">
        <img src="../static/images/projects/dost.jpg" alt="character AI" 
             style="float: left; width: 20%; height: 30%; padding: 10px;">
    </a>
    <div class="project-info">
        <p>Responses in the tone of the Character</p>
        <p>
            <strong>The Character AI project</strong>, particularly when it involves creating or interacting with an AI character emulating the style or persona of Fyodor Dostoevsky's characters, involves leveraging advanced natural language processing and machine learning techniques to generate responses that reflect his literary style, philosophical viewpoints, and character traits.
        </p>
        <p>
            Dostoevsky's writing is known for its psychological depth, complex sentence structures, and a rich, sometimes dark, vocabulary. The AI is trained on a corpus of Dostoevsky's texts to learn this style, ensuring responses mimic his literary tone, including the use of rhetorical questions, introspections, and a nuanced approach to morality.
        </p>
    </div>
</div>

<blockquote class="twitter-tweet" data-media-max-width="560">
    <p lang="zxx" dir="ltr"><a href="https://t.co/JWRDBfZH4G">pic.twitter.com/JWRDBfZH4G</a></p>
    — Mukul Namagiri (@MNamagiri66052) <a href="https://twitter.com/MNamagiri66052/status/1875149476450775414?ref_src=twsrc%5Etfw">January 3, 2025</a>
</blockquote>
<hr style="border: none; height: 5px; background-color: red; width: 100%;">

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<hr style="border: none; height: 5px; background-color: red; width: 100%;">

<br>
<h2>Recommendation System</h2>
<div class="project-preview">
    <a href="https://github.com/mukullight" target="_blank">
        <img src="../static/images/projects/recco.png" alt="recco" 
             style="float: left; width: 40%; height: 50%; padding: 10px;">
    </a>
    <div class="project-info">
        <p>Recommend movies based on the selected content</p>
        <p>
            * <strong>Hybrid Recommendation Engine:</strong> Utilizes a combination of collaborative and content-based filtering to provide highly personalized suggestions, enhancing user engagement by adapting to both collective user behavior and individual preferences.
        </p>
        <p>
            * <strong>Real-time Learning and Scalability:</strong> The system continuously learns from user interactions in real-time, ensuring recommendations evolve with user tastes, while its scalable architecture efficiently handles large datasets for quick, accurate results.
        </p>
    </div>
</div>

<blockquote class="twitter-tweet" data-media-max-width="560">
    <p lang="zxx" dir="ltr"><a href="https://t.co/GLdgSXBNml">pic.twitter.com/GLdgSXBNml</a></p>
    — Mukul Namagiri (@MNamagiri66052) <a href="https://twitter.com/MNamagiri66052/status/1875149349786952184?ref_src=twsrc%5Etfw">January 3, 2025</a>
</blockquote>
<hr style="border: none; height: 5px; background-color: red; width: 100%;">

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<hr style="border: none; height: 5px; background-color: red; width: 100%;">

<h2>TOKVIZ</h2>
<div class="project-preview">
    <a href="https://github.com/mukullight" target="_blank">
        <img src="../static/images/projects/tokviz.png" alt="recco" 
             style="float: left; width: 40%; height: 50%; padding: 10px;">
    </a>
    <div class="project-info">
        <p>Tokviz - a token visualizer</p>
        <p>
            * <strong>Multi-Model Tokenization Comparison:</strong> Enables visualization of how different language models tokenize text, using color-coding to differentiate tokens based on their properties, which aids in understanding and comparing tokenization patterns across models.
        </p>
    </div>
</div>

<blockquote class="twitter-tweet" data-media-max-width="560">
    <p lang="zxx" dir="ltr"><a href="https://t.co/kwsqcZE4NQ">pic.twitter.com/kwsqcZE4NQ</a></p>
    — Mukul Namagiri (@MNamagiri66052) <a href="https://twitter.com/MNamagiri66052/status/1875149256086225156?ref_src=twsrc%5Etfw">January 3, 2025</a>
</blockquote>
<hr style="border: none; height: 5px; background-color: red; width: 100%;">

{% endblock %}